@font-face {
  font-family: "MLP-head";
  src: url("../font/PONY.ttf");
}

@font-face {
  font-family: "MLP-sub";
  src: url("../font/Equestria.otf");
}

body, html {
  background-color: pink;
  min-height: 100dvh;
  max-width: 100dvw;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: 20dvh auto 15dvh;
}

.header, .footer {
  border: black solid 1px;
  background-color: pink;
  box-sizing: border-box;
}

.title {
  font-family: "MLP-head", sans-serif;
  text-align: center;
  font-size: 3.5rem;
}

.section {
  margin: 0 auto;
  width: 60%;
  min-height: 100%;
  background-color: #fff;

  &.commentary {
    box-shadow: black 5px 5px 5px;
  }

  &.wide {
    width: 80%;
  }

  padding: 1.5em;

  box-sizing: border-box;

  figure {
    display: flex;
    flex: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    img {
      max-width: 75%;
    }

    figcaption {
      max-width: 60%;
      color: grey;
      font-style: italic;
      word-wrap: normal;
      text-align: center;
    }
  }

}

a {
  color: deeppink;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h2, h3, h4 {
  font-family: MLP-sub, sans-serif;
  text-align: center;
  font-size: 1.25em;
}

.controls {
  a {
    position: absolute;

    background-color: #fff;

    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: 3px solid lightskyblue;

    top: 3%;

    font-family: MLP-sub, sans-serif;

    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
    transition: background-color .5s;

    z-index: 1;

    color: black;
    text-decoration: none;

    font-size: 2em;

    &:hover {
      background-color: pink;
    }

    &:active {
      background-color: lightskyblue;
    }

  }

  #home {
    left: 2%
  }

  #back {
    left: 9.5%
  }
}

.commentary {

  & p:not(p:first-of-type) // wow this is ugly
  {
    text-indent: 4ch;
  }

  hr {
    width: 95%;
    margin-bottom: 2em;
  }
}

