.content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  box-sizing: border-box;
}

.splash {
  background: white;
  max-width: 100vw;

  border-top: pink 50px solid;
}

.three-grid {
  display: grid;
  grid-template-rows: 50% 1fr;
  grid-template-columns: 50% 1fr;

  .cell {
    margin: 1em;
    padding: 2em;

    background-color: skyblue;
    box-sizing: border-box;
  }

  .slideshow-container {
    background-color: white;
    padding: 1em;
    overflow: hidden;
  }

  .plot-container {
    background-color: white;
    padding: 1em;
  }
}

.slideshow-container,
.char-slideshow li,.toy-slideshow li {
  margin: 0;
  padding: 0;
}

.char-slideshow li img, .toy-slideshow li img {
  width: 200px;
  height: 200px;
  margin: 0 auto; /* Center the image horizontally */
}

.feature-list {
  width: 50%;
  margin: 2em auto;
  background-color: whitesmoke;
  padding: 1em;

  table {
    margin: 0 auto;
  }

  td {
    padding: .5em;
    background-color: white;
  }
}

p {
  font-family: Georgia, serif;
  line-height: 1.75em;

  hr + &:first-letter {
    font-size: 350%;
    color: black;
    padding: 6px;
    float: left;
    font-weight: bold;
  }
}

ul {
  margin: 1.5em auto;
  padding: 0;
  width: 75%;

  ul {
    margin: .5em 2em;
  }
}

li {
  padding: 2px;
}

h2 {
  font-size: 3em;
  text-align: center;
  margin: .25em auto;
}